@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 55px !important;
}

.slick-prev {
  left: 50px !important;
}

.slick-next {
  right: 70px !important;
}

.slick-list {
  overflow-x: hidden !important;
}

.slick-prev,
.slick-next {
  z-index: 1000;
}

/* Media Query for Smaller Screens */
/* @media (max-width: 640px) {
  .slick-prev:before,
  .slick-next:before {
    font-size: 35px !important;
  }
  body .slick-prev {
    left: 20px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
  }
  body .slick-next {
    right: 20px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
  }
}
 */


body {
  @apply bg-primaryBg text-primaryText font-sans;
}
